* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  background-color: black;
}

/* Shared Styles */
.orange-text {
  color: rgba(230, 83, 60, 1);
}

.orange-bg {
  background-color: rgba(230, 83, 60, 1);
}

header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 50%,
    rgb(17, 17, 17) 100%
  );
  z-index: -1;
}

/* Navbar Styles */
.nav-row {
  padding-top: 60px;
  width: 90vw;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.nav-brand {
  font-weight: 800;
  font-style: italic;
  font-size: 2.25rem;
}

.nav-menu {
  color: rgba(255, 255, 255, 1);
  /* Remove bullet points and added gap after flex */
  list-style-type: none;
  display: flex;
  gap: 47px;
  align-items: center;
  /* Spacing for inner elements and border */
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  /* Styles for child elements */
  font-size: 1.125rem;
}

.nav-menu a {
  color: inherit;
  text-decoration: none;
}

.nav-home {
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 46px;
}

.burger-menu {
  display: none;
}

/* Banner Styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
  /* Added padding-top to next section instead
  This prevents margin creating a white space between 2 sections */
  /* margin-bottom: 100px; */
}

.banner-left {
  max-width: 520px;
  /* Removed padding and used align-items on .banner to vertically center */
  /* padding-top: 4rem; */
}

.banner-left > h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 4.875rem;
  line-height: 120%;
  margin-bottom: 1.75rem;
}

.banner-left .miama {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 150px;
}

.banner-left > p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1.75rem;
}

.primary-btn {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-family: inherit;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 42px;
}

.large-btn {
  margin-right: 1rem;
}

.small-btn {
  display: none;
}

.banner-second-btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
}

.banner-right {
  position: relative;
}

.workout {
  position: absolute;
  top: 21%;
  left: 66%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 1rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.workout > h1 {
  font-weight: 900;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
}

.workout > p {
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.65);
}

.tutorial {
  position: absolute;
  bottom: 11%;
  right: 73%;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  padding: 1.25rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.tutorial-left {
  position: relative;
}

.tutorial-left-play {
  position: absolute;
  top: 30%;
  left: 30%;
}

.tutorial-right > h1 {
  font-weight: 900;
  font-size: 1.5rem;
  color: rgba(250, 250, 249, 1);
  margin-bottom: 8px;
}

.tutorial-right > p {
  color: rgba(239, 237, 232, 0.65);
}

.habits {
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.habits-text {
  /* Setting max width constrains width by taking assigned width from
  left side. Cannot center across entire screen as it does not take screen width.
  Need to use margin: 0 auto to center the habits-text container */
  max-width: 670px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.habits-text > h1 {
  font-weight: 900;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
}

.habits-text > p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.habits-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2.5rem;
}

.habit-card {
  text-align: center;
}

.habit-card-img {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-bottom: 2rem;
}

.habit-card-title {
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 1);
}

.habit-card-desc {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}

.extra-mile {
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.extra-mile-left {
  max-width: 40%;
}

.extra-mile-left > h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 14px;
}

.extra-mile-left > p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 34px;
}

.extra-mile-btn {
  padding: 1rem 4.5rem;
}

.extra-mile-right {
  overflow: hidden;
  max-width: 40%;
  border-radius: 18px;
}

.extra-mile-right > img {
  width: 100%;
  object-fit: cover;
  transform: scale(2.5) translateX(-13%) translateY(10%);
}

/* .extra-mile-right {
  width: 40%;
  height: 312px;
  background-image: url("../images/run.jpg");
  background-size: 300%;
  background-position: 68% 33%;
  background-repeat: no-repeat;
  border-radius: 18px;
} */

.bmi-heading {
  width: 90vw;
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 5.5rem;
}

.bmi-heading > h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.bmi-heading > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.bmi-calc-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(34, 34, 34, 1);
}

.bmi-calc {
  color: rgba(255, 255, 255, 1);
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bmi-calc h1 {
  font-weight: 900;
  font-size: 1.75rem;
  margin-bottom: 3.25rem;
}

table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
}

.bmi-calc-right {
  max-width: 50%;
}

.bmi-calc-right > h1 {
  margin-bottom: 1rem;
}

.bmi-calc-right > p {
  color: (255, 255, 255, 0.5);
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

input,
select {
  font: inherit;
  padding: 0.8125rem 1.25rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: calc((100% - 1rem) / 2);
}

.fifty-each {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.full-row select {
  width: 100%;
}

form {
  margin-bottom: 2rem;
}

.bmi-btn {
  padding: 1rem 4.5rem;
}

.meet-team {
  padding-top: 5.5rem;
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 5.5rem;
}

.meet-team-text {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.625rem;
}

.meet-team-text > h1 {
  font-weight: 900;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0.875rem;
}

.meet-team-text > p {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}

.meet-team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
}

.team-card {
  width: 100%;
  height: 272px;
  overflow: hidden;
  border-radius: 18px;
  position: relative;
}

.team-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.team-member-details {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.team-member-details > h1 {
  font-weight: 900;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
}

.team-member-details > h2 {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}

.scroll-container {
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.scroll-content-text > h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
}

.scroll-content-text {
  margin-bottom: 2rem;
}

.infinite-scroll {
  overflow: hidden;
  display: flex;
  position: relative;
}

.infinite-scroll::before,
.infinite-scroll::after {
  position: absolute;
  top: 0;
  width: 7vw;
  height: 100%;
  content: "";
  z-index: 1;
}

.infinite-scroll::before {
  left: 0;
  background-image: linear-gradient(to left, transparent, black);
}

.infinite-scroll::after {
  right: 0;
  background-image: linear-gradient(to right, transparent, black);
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.infinite-scroll-inner {
  display: flex;
  gap: 1rem;
  padding: 1rem 0.5rem;
  animation: 15s scroll infinite linear;
}

.tag-list {
  list-style-type: none;
}

.tag-list img {
  height: 100px;
  border-radius: 0.5rem;
}

footer {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: rgba(34, 34, 34, 1);
}

.footer-content {
  width: 90vw;
  max-width: 1110px;
  margin: 0 auto;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-first-child {
  width: 45%;
}

.footer-first-child > h1 {
  font-weight: 800;
  font-style: italic;
  font-size: 4.375rem;
  margin-bottom: 1.25rem;
}

.footer-first-child > p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer-grid {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  margin-bottom: 5rem;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.footer-col > h1 {
  font-weight: 700;
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.footer-links > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer-copyright > hr {
  margin-bottom: 2.25rem;
}

.footer-copyright > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  text-align: center;
}
